/code/.vscode
*.mcap
metadata.yaml
/code/build
/code/install
/code/log
/code/Log
/ibima_cam
code/topics.txt
/code/test_full_setup_cirpi
*.zstd
__pycache__
/code/src/camera_postprocess/camera_postprocess/dataset
code/test_full_setup.zip
*.zip
code/config_time.sh
code/build
code/install
code/log
code/Log
code/log.txt
code/src/camera_postprocess/camera_postprocess/dataset/
__pycache__/
code/test_sync_4cams_compressed
*.mcap
metadata.yaml
*.zstd
/gui/build
code/test_full_setup/
code/test_full_setup.zip
/code/src/camera_postprocess/camera_postprocess/__pycache__
/Log
